##Exclude everything!
/*

##Except what I want to keep:
#Source files.
!Source/

#Github files.
!.gitignore
!LICENSE
!README.md

#Other important files.
!Autofill Dictionary/
!Call/
!Log/

#Exceptions.
**__pycache__/
Source/Driver/ChromeProfile/
Source/test.py