##Exclude everything!
/*

##Except what I want to keep:
#Source files.
!HAF/

#Python files.
!setup.cfg
!setup.py

#Github files.
!.gitignore
!LICENSE
!README.md

#Exceptions.
**__pycache__/
HAF/test.py